.tableHolder {
  margin-top: 30px;
}

.tableOver {
  display: block;
}


.tableOver .columnTitle {
  cursor: pointer;
}

.buttonHolder {
  margin-bottom: 15px;
}

.isHidden {
  display: none;
}

.sortOrder {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  margin: 10px;
  vertical-align: middle;
  opacity: 0;
}

.sortOrder.Up {
  opacity: 1;
  transform: rotate(-135deg);
}

.sortOrder.Down {
  opacity: 1;
  transform: rotate(45deg);
}

